html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--warm-cream);
}

body {
    font-family: var(--font-family-body);
    background-color: var(--background);
    width: 100%;
    margin: 0 auto;
}