@import url('components/about.css');
@import url('components/contact.css');
@import url('components/footer.css');
@import url('components/header.css');
@import url('components/hero.css');
@import url('components/products.css');

/* Estilização de Botões */
.btn {
    background-color: var(--primary);
    color: var(--warm-cream);
    text-align: center;
    font-weight: 500;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--soft-terracota);
}