.section {
    padding: 4rem 1rem;
}

.section-title {
    font-family: var(--font-family-heading);
    color: var(--cozy-brown);
    font-size: 1.875rem;
}

@media (min-width: 640px) {
    .section {
        padding: 5rem 1.5rem;
    }

    .section-title {
        font-size: 2.25rem;
    }
}

@media (min-width: 768px) {
    .section-title {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .section {
        padding: 6rem 2rem;
    }
}