@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    /* Cores Principais */
    --background: #F9F7F3;
    --foreground: #593D2E;
    --primary: #D86846;
    --accent: #945E38;
    --muted-clay: #997B66;

    /* Cores customizadas */
    --warm-cream: #FAF7ED;
    --soft-terracota: #D97252;
    --deep-moss: #4E7335;
    --cozy-brown: #593B26;
    --border-color: #E2DCCF;
    --hover-color: #E2DCCF;
    --light-parchment: #E8DCD1;

    /* Tipografia */
    --font-family-heading: 'Playfair Display', serif;
    --font-family-body: 'Inter', sans-serif;
}