.about-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.about-img {
    border-radius: 14px;
    margin-bottom: 1rem;
}

.about-title {
    text-align: left;
}

.about-text {
    color: var(--muted-clay);
    margin-top: 1rem;
}


@media (min-width: 640px) {
    .about-title {
        margin-bottom: 0.5rem;
    }

    .about-text {
        font-size: 1.125rem;
    }
}

@media (min-width: 768px) {
    .about-section {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
        gap: 3rem;
    }
    
    .about-img {
        margin-bottom: 0;
    }
}