.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem 1rem;
}

.contact-title {
    font-family: var(--font-family-heading);
    font-size: 1.875rem;
    color: var(--cozy-brown);
}

.contact-subtitle {
    color: var(--muted-clay);
    text-align: center;
    margin-bottom: 1rem;
}

.contact.btn {
    font-weight: 500;
    padding: 0.8rem;
    max-width: 390px;
    width: 100%;
    margin-bottom: 1rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.875rem;
    color: var(--muted-clay);
}

.contact-info .social a {
    color: var(--muted-clay);
}

.contact-info .social a:hover {
    color: var(--primary);
}