.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact-title {
}

.contact-subtitle {
    color: var(--muted-clay);
    text-align: center;
    margin-bottom: 1rem;
}

.contact.btn {
    padding: 0.8rem;
    max-width: 390px;
    width: 100%;
    margin-bottom: 1rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.875rem;
    color: var(--muted-clay);
}

.contact-info i {
    color: var(--primary);
}

.contact-info .local {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-info .social {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-info .social i {
    font-size: 1rem;
}

.contact-info .social a {
    color: var(--muted-clay);
}

.contact-info .social a:hover {
    color: var(--primary);
}


@media (min-width: 640px) {
    .contact-title {
        margin-bottom: 0.5rem;
    }

    .contact-subtitle {
        font-size: 1.125rem;
        margin-bottom: 1.5rem;
    }

    .contact.btn {
        font-size: 1.125rem;
        width: 284px;
    }

    .contact-info {
        flex-direction: row;
        font-size: 1rem;
    }
}