.footer {
    background-color: var(--accent);
    color: var(--warm-cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.footer span {
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    color: var(--light-parchment);
}

.footer-slogan {
    font-size: 14px;
    font-weight: 500;
}


@media (min-width: 640px) {
    .footer {
        padding: 2.5rem 1.5rem;
    }

    .footer-slogan {
        font-size: 1rem;
    }

    .footer span {
        font-size: 0.875rem;
    }

    .footer span:last-child {
        font-size: 0.75rem;
    }
}

@media (min-width: 1024px) {
    .footer {
        padding: 2.5rem 2rem;
    }
}