.footer {
    background-color: var(--accent);
    color: var(--warm-cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.footer span {
    font-size: 0.75rem;
    text-align: center;
}

.footer-slogan {
    font-size: 14px;
    font-weight: 500;
}