.header {
    position: fixed;
    background-color: var(--warm-cream);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.header a {
    color: var(--foreground);
}

.header h1 a {
    font-family: var(--font-family-heading);
    font-size: 1.25rem;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    height: 26px;
    cursor: pointer;
}

.menu-toggle:hover i {
    opacity: 0.7;
}

.nav-container {
    border-top: 1px solid var(--border-color);
}

.nav-container ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
}

.nav-container ul li a {
    display: block;
    text-align: left;
    padding: 8px 16px;
    border-radius: 12px;
    transition: 0.3s ease;
}

.nav-container ul li:hover a {
    background-color: var(--border-color);
    color: var(--primary);
}

.nav-container .btn-whatsapp {
    background-color: var(--primary);
    color: var(--warm-cream);
    font-size: 14px;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-whatsapp:hover {
    background-color: var(--soft-terracota);
}

.menu-toggle i.hide {
    display: none;
}
.nav-container.hide {
    display: none;
}