.header {
    position: fixed;
    background-color: var(--warm-cream);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
}

.header a {
    color: var(--foreground);
}

.header h1 a {
    font-family: var(--font-family-heading);
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

.header h1 a:hover {
    color: var(--primary);
}

.menu-toggle {
    background-color: transparent;
    color: var(--foreground);
    border: none;
    height: 26px;
    cursor: pointer;
}

.menu-toggle:hover i {
    opacity: 0.7;
}

.nav-container {
    border-top: 1px solid var(--border-color);
}

.nav-container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0 3.5rem;
}

.nav-container ul li a {
    display: block;
    text-align: left;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    transition: 0.3s ease;
}

.nav-container ul li:hover a {
    background-color: var(--border-color);
    color: var(--primary);
}

.btn.header {
    font-size: 14px;
    width: 86%;
}

.menu-toggle i.hide {
    display: none;
}
.nav-container.hide {
    display: none;
}


@media (min-width: 640px) {
    .header {
        padding: 0 1.5rem;
    }
    
    .header h1 a {
        font-size: 1.5rem;
    }
    
    .menu-toggle i {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        padding-top: 0.5rem;
        backdrop-filter: blur(8px);
    }

    .nav-container {
        border: none;
        font-size: 0.875rem;
    }

    .nav-container ul {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }

    .nav-container ul li a {
        padding: 0;
    }

    .nav-container ul li:hover a {
        background-color: transparent;
    }

    .btn.header {
        position: relative;
        display: flex;
        justify-content: center;
        width: 125px;
    }
    
    .nav-container.hide {
        display: block;
    }

    .menu-toggle {
        display: none;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 0.5rem 2rem;
    }
}