.hero-section {
    position: relative;
    background: url('../../assets/images/bg-image-desktop.jpeg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 572px;
}

.bg-transparent {
    background-color: hsla(43, 33%, 96%, 0.728);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    z-index: 2;
}

.hero-content .hero-title {
    font-family: var(--font-family-heading);
    font-size: 2.25rem;
    text-align: center;
    color: var(--cozy-brown);
    margin-bottom: 0.8rem;
}

.hero-content .hero-span {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--accent);
    margin-bottom: 1.5rem;
}

.hero-content .hero-subtitle {
    text-align: center;
    color: var(--muted-clay);
    min-width: 272px;
    width: 40%;
    padding: 0 1.6rem;
    margin-bottom: 2rem;
}

.btn.hero {
    width: 240px;
}