.hero-section {
    position: relative;
    background: url('../../assets/images/bg-image-desktop.jpeg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 572px;
}

.bg-transparent {
    background-color: hsla(28, 100%, 97%, 0.794);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    z-index: 2;
}

.hero-content .hero-title {
    font-family: var(--font-family-heading);
    font-size: 2.25rem;
    text-align: center;
    color: var(--cozy-brown);
    margin-bottom: 0.8rem;
}

.hero-content .hero-span {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--accent);
    margin-bottom: 1.5rem;
}

.hero-content .hero-subtitle {
    text-align: center;
    color: var(--muted-clay);
    min-width: 272px;
    width: 40%;
    padding: 0 1.6rem;
    margin-bottom: 2rem;
}

.btn.hero {
    width: 270px;
}


@media(min-width: 640px) {
    .hero-content {
        padding: 0 1.5rem;
    }

    .hero-content .hero-title {
        font-size: 3rem;
    }

    .hero-content .hero-span {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .hero-content .hero-subtitle {
        font-size: 1.125rem;
        width: 65%;
        margin-bottom: 2.5rem;
    }

    .btn.hero {
        font-size: 1.125rem;
        padding: 0.7rem;
    }
}

@media (min-width: 660px) {
    .hero-content .hero-subtitle {
        padding: 0;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .hero-content .hero-title {
        font-size: 3.75rem;
    }

    .hero-content .hero-span {
        font-size: 1.875rem;
    }

    .hero-content .hero-subtitle {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .hero-content {
        padding: 0 2rem;
    }

    .hero-content .hero-title {
        font-size: 4.5rem;
    }
}