.work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-section .work-title {
    margin-bottom: 1rem;
}

.work-section .work-subtitle {
    text-align: center;
    color: var(--muted-clay);
    min-width: 272px;
    width: 40%;
    padding: 0 1.8rem;
    margin-bottom: 3rem;
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--warm-cream);    
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
}

.card-content {
    text-align: left;
    padding: 1rem;
}

.card-title {
    font-family: var(--font-family-heading);
    font-size: 1.25rem;
    color: var(--cozy-brown);
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 0.875rem;
    color: var(--muted-clay);
    margin-bottom: 0.75rem;
}

.card-price {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--deep-moss);
}

.btn-container {
    padding: 0 1rem 1rem 1rem;
    width: 100%;
}

.btn.card {
    text-align: center;
    font-size: 0.875rem;
    width: 100%;
}


@media (min-width: 640px) {
    .work-section .work-subtitle {
        font-size: 1.125rem;
        width: 80%;
    }

    .work-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .card-content {
        padding: 1.5rem;
    }

    .card-title {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .work-section .work-title {
        margin-bottom: 0.625rem;
    }

    .work-section .work-subtitle {
        width: 500px;
        margin-bottom: 3.75rem;
    }

    .work-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}